                                        form label {
                                            display: block;
                                            font-size: 20px;
                                            margin-bottom: 8px;
                                            color: rgb(122, 20, 20);
                                            font-family: 'Times New Roman', Times, serif;
                                            width: 100%;
                                        }
                                        
                                        form input[type=text] {
                                            color: #000000;
                                            font-size: 16px;
                                            margin-bottom: 10px;
                                            width: 100%;
                                        }
                                        
                                        form textarea {
                                            height: 4.75rem;
                                            width: 100%;
                                            color: #000;
                                            font-size: 16px;
                                            margin-bottom: 10px;
                                        }
                                        
                                        section {
                                            margin: 100px;
                                            border-width: 2px;
                                            border-color: black;
                                        }